.feedbackList {
  padding-top: 20px;
  justify-content: center;

  .CORRECT {
    background-color: forestgreen;
    color: white;
  }

  .WRONG_PLACE {
    background-color: yellow;
  }

  .NOT_IN_WORD {
    background-color: darkred;
    color: white;
  }

  .feedbackCharacter {
    margin: 5px;
    border-radius: 10px;
  }
}
